*{
  border:0;
  margin:0 ;
  padding:0;
  list-style-type:none;
  outline:none;
}
ul{
  margin:0 !important;
}
html,body{
  padding: 0;
  margin:0;
}

.wrapper-1 {
  margin-top: 10px;
  background-color:rgba(0,0,0,.8);
  height:40px;
	padding:8px;
  padding-bottom:12px;
  position: absolute;
}

.drawcontainer {
  width: 100%;
  /* height 100% gives scrool bar */
  height: 90%;
  /*cursor: url("pen.png"), pointer; */
  /*cursor: url("../fonts/fa-pencil"), pointer; */
 /* cursor: url('http://www.gravatar.com/avatar/06ededb95f1c0b1f4f9d987e06d7d82b?s=32&d=identicon&r=PG'), pointer; */
}
#drawcanvas{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#textcontentbox{
  position: relative;
  float: right;
  top: -25px;
  width: 200px;
  color: #fff;
  font-size: 18px;
}

#tempTxtBox{
  position: relative;
  float: right;
  width: 200px;
  color: #fff;
  font-size: 18px;
  background-color: black;
}

.kineticjs-content {
    border: 5px solid #000000;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
#nav li{
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 45px;
}
#pen{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/pencil.png') no-repeat center;
}
#pen:hover{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/pencil_hover.png') no-repeat center;
}
#circle{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/circle.png') no-repeat center;
}
#circle:hover{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/circle_hover.png') no-repeat center;
}
#rectangle{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/square.png') no-repeat center;
}
#rectangle:hover{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/square_hover.png') no-repeat center;
}
#eraser{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/eraser2.png') no-repeat center;
}
#eraser:hover{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/eraser_hover2.png') no-repeat center;
}
#refresh{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/clear.png') no-repeat center;
}
#refresh:hover{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/clear_hover.png') no-repeat center;
}
#colorpalette{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/colorpalette.png') no-repeat center;
}
#colorpalette:hover{
  background:url('chrome-extension://__MSG_@@extension_id__/widgets/AddDraw/img/colorpalette_hover.png') no-repeat center;
}
#colorname{
  height: 45px;
  opacity: 0;
  cursor: pointer;
}

/*
ul{
  width:100%;
  height:100%;
  border:1px solid #0F1014;
  border-radius:3px;
  background:#0F1014;
}

ul li {
float:left;
width:80px;
color:#D9D9D9;
text-align:center;
display:table;
cursor:pointer;
}

ul li i{
  margin-top:2px;
  font-size:24px !important;
   user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
 }
ul li:active, ul li.active{
  text-shadow:1px 1px 10px Yellow;
	background:#2A2D31;
	box-shadow:
      inset 0 0 5px 2px rgba(15, 16, 20, 0.5);
	border:1px solid #0F1014;

}
  ul li:not(.active):hover{
    text-shadow:1px 1px 10px Yellow;
  }

   ul li:active{
    text-shadow:none !important;
  }
*/