<div class="large-12 columns" >
	<div class="row">
	<!-- ............................ area for earlier notification on home page 
		<div class="home_outer">
			<div class="home_middle">
				<div class="home_inner">
					<img src="img/icons_joinMember.png" class="pull-left">
					    <div id="notifications" class="pull-right home_txt" >
					    Oops!
						<div>It takes two to Tango</div>
						<div>Why don't you invite someone?</div>
					    </div>
				</div>
			</div>
		</div> -->

 

		</ul>

		</section>

		<!-- ....................... area for other participants window 
	    <div id="videoContent">
	      <div id="localArea" align="right">
	        
	        <div id="remotes"></div>
	        
	        <div id="localVideoContainer" class="videoContainer">
	              <video id="localVideo"></video>
	          </div>
	          
	      </div>-->
	</div>
</div>